<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Frontend Starter Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
    <div id="root" class="container">
        <h1>Hello World</h1>
    </div>

    <div class="product-list">
        <div class="container">
            <h2 class="product-list--title">Terrenos y solares en venta cerca de Valencia</h2>
            <div class="product-list--content">
                <div class="product-list--item grid-item">
                    <a href="#" class="grid-item--anchor">
                        <div class="grid-item--image" style="background-image: url(https://source.unsplash.com/400x300/?ground,build);"></div>
                        <div class="grid-item--content">
                            <h3 class="grid-item--name">Terreno en venta en Vila Est, Pobla de Vallbona</h3>
                            <div class="grid-item--location">Pobla de Vallbona, centro.</div>
                            <div class="grid-item--details">
                                <span>1200m<sup>2</sup></span>
                                <span>Urbano</span>
                            </div>
                            <div class="grid-item--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat...</div>
                            <div class="grid-item--actions">
                                <span class="btn" data-href="tel:600100200">
                                    <svg class="icon icon-phone-call"><use xlink:href="/svg/svg-symbols.svg#icon-phone-call"></use></svg>
                                    600 100 200
                                </span>
                                <span class="btn">
                                    <svg class="icon icon-chat"><use xlink:href="/svg/svg-symbols.svg#icon-chat"></use></svg>
                                    Contactar
                                </span>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="footer-message">
            <div class="container">
                <div class="footer-message--icon">
                    <svg class="icon icon-home"><use xlink:href="./svg/svg-symbols.svg#icon-home-color"></use></svg>
                </div>
                <div class="footer-message--content">
                    <h3 class="footer-message--title">
                        Parcelasenvalencia.com le ayuda descubrir el lugar perfecto donde vivir y parcelas donde contruir la casa de sus sueños.
                    </h3>
                    <div class="footer-message--text">
                        <p>Parcelasenvalencia.com es una web que ofrece solares y parcelas en venta, locales en alquiler donde establecer su próximo negocio en la zona de Valencia y alrededores. También le ofrece información de la zona donde se encuentra así como le ayuda a figurarse qué, donde y cuando comprar, vender o alquilar. También puede ver precios, lugares interesantes de la zona que aportan valor a las parcelas. En zonas cerca de Valencia como la Pobla de Vallbona, Ribarroja, Benissanó, L'eliana, Villamarchante, entre otras. Contacte con nosotros y obtenga consejo y opiniones de expertos locales.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-colophon">
            <div class="container">
                <ul class="footer-colophon--links">
                    <li><a href="#">Solar en Pobla de Vallbona</a></li>
                    <li><a href="#">Solar en l'Eliana</a></li>
                    <li><a href="#">Solar en Villamarchante</a></li>
                    <li><a href="#">Local en Pobla de Vallbona</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Privacidad</a></li>
                </ul>
                <div class="footer-colophon--text">Copyright © 2018 parcelasenvalencia.com. Todos los derechos reservados.</div>
            </div>
        </div>
    </footer>



    <script src="js/main.js"></script>
</body>
</html>
